.footer__copyright-content {



  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
  margin-top: 0px;
  margin-bottom: 0px;
}


@media (max-width: 768px) {
  .footer__copyright-content {

    line-height: 14px;

  }
}
@media (max-width: 400px) {
  .footer__copyright-content {

    font-size: 14px;
    line-height: 17px;
    
    
   

  }
}
@media (max-width: 320px) {
  .footer__copyright-content {

    margin-left: 10px;

  }
}